# Ignore Python virtual environment
.venv/
__pycache__/
*.pyc
*.pyo
*.swp

# Ignore environment variables and credentials
.env
services/credentials.json
data/config.py

# Ignore macOS system files
.DS_Store
